services:
  diffusiondet:
    build: .
    image: densea:v1.1
    container_name: densea_dev
    volumes:
      - ..:/app/DiffusionDet # Monta el código fuente en el contenedor
    ports:
      - "6006:6006"  # Mapea el puerto de TensorBoard
      - "8501:8501"  # Puerto para streamlit
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    runtime: nvidia
    shm_size: '16gb'  # Aumenta el tamaño de la memoria compartida
    #stdin_open: true  # Permite interactuar con el shell
    #tty: true         # Asigna una TTY
